<h1 id="tableLabel">Call OIDC Provider</h1>

<select [(ngModel)]="selectedConfiguration" (change)="selectedConfigurationUpdated()">
  <option value="null" disabled selected>Select a configuration</option>
  <option *ngFor="let configuration of oidcConfigurations" [ngValue]="configuration">{{configuration.authority}}</option>
</select>

<div class="container">
  <table class="table table-striped" aria-labelledby="tableLabel">
    <tr>
      <th>Id</th>
      <th>Authority</th>
      <th>Audience</th>
      <th>Callback Uri</th>
      <th>Certificate Serial</th>
      <th>Client Id</th>
      <th>Redirect Uri</th>
      <th>Response Type</th>
      <th>Scope</th>
    </tr>
    <tr>
      <td>
        {{selectedConfiguration?.id}}
      </td>
      <td>
        {{selectedConfiguration?.authority}}
      </td>
      <td>
        {{selectedConfiguration?.audience}}
      </td>
      <td>
        {{selectedConfiguration?.callback_uri}}
      </td>    
      <td>
        {{selectedConfiguration?.certificateSerial}}
      </td>    
      <td>
        {{selectedConfiguration?.client_id}}
      </td>
      <td>
        {{selectedConfiguration?.redirect_uri}}
      </td>
      <td>
        {{selectedConfiguration?.response_type}}
      </td>
      <td>
        {{selectedConfiguration?.scope}}
      </td>
    </tr>
  </table>
  <hr>
  <div>
    Authorize url:
    <input [(ngModel)]="authorizeUri" style="width: 100%;">
    <button style="background: lightblue;" (click)="callProvider()">Call OIDC Provider</button>
  </div>
  <hr>
</div>

