<div>
  <h4>Token</h4>
  <textarea [(ngModel)]="JWTstring" readonly style="width: 100%; height: 150px;"></textarea>
  <button (click)="copyToClipboard()">Copy Token clipboard</button>
</div>
<hr>
<div style="display: flex;">
  <div style="flex: 1">
    <h4>Headers</h4>
    <textarea [(ngModel)]="JWTheader" readonly style="width: 100%; height: 150px;"></textarea>
  </div>
  <div style="flex: 1">
    <h4>Payload</h4>
    <textarea [(ngModel)]="JWTpayload" readonly style="width: 100%; height: 150px;"></textarea>
  </div>
</div>